on:
  push:
#    tags:
#      - '*'

name: Build and release

jobs:
  x86_64:
    name: Build for x86-64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Get version from tag
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Build
        run: |
          make
      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: axisdiscovery-${{ steps.get_version.outputs.VERSION }}-x86_64-linux-gnu
          path: ./axisdiscovery-${{ steps.get_version.outputs.VERSION }}-x86_64-linux-gnu

  armhf:
    name: Build for armhf
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Get version from tag
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Install compiler
        run: |
          sudo apt-get update -qq
          sudo apt-get install -y gcc-arm-linux-gnueabihf
      - name: Build
        run: |
          CC=arm-linux-gnueabihf-gcc make
      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: axisdiscovery-${{ steps.get_version.outputs.VERSION }}-arm-linux-gnueabihf
          path: ./axisdiscovery-${{ steps.get_version.outputs.VERSION }}-arm-linux-gnueabihf

  release:
    name: Create GitHub release
    needs: [x86_64, armhf]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@master
      - name: Get version from tag
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}
      - name: Fetch artifact (x86-64)
        uses: actions/download-artifact@master
        with:
          name: axisdiscovery-${{ steps.get_version.outputs.VERSION }}-x86_64-linux-gnu
      - name: Fetch artifact (armhf)
        uses: actions/download-artifact@master
        with:
          name: axisdiscovery-${{ steps.get_version.outputs.VERSION }}-arm-linux-gnueabihf
      - name: List dir
        run: |
          ls -R
          ls -lath
#      - name: Create release
#        id: create_release
#        uses: actions/create-release@v1.0.0
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          tag_name: ${{ steps.get_version.outputs.VERSION }}
#          release_name: ${{ steps.get_version.outputs.VERSION }}
#          draft: false
#          prerelease: false
#      - name: Upload release (x86-64)
#        id: upload-release-asset-x86-64
#        uses: actions/upload-release-asset@v1.0.1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          upload_url: ${{ steps.create_release.outputs.upload_url }}
#          asset_path: ./axisdiscovery-${{ steps.get_version.outputs.VERSION }}-x86_64-linux-gnu
#          asset_name: axisdiscovery-${{ steps.get_version.outputs.VERSION }}-x86_64-linux-gnu
#          asset_content_type: application/octet-stream
#      - name: Upload release (armhf)
#        id: upload-release-asset-armhf
#        uses: actions/upload-release-asset@v1.0.1
#        env:
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#        with:
#          upload_url: ${{ steps.create_release.outputs.upload_url }}
#          asset_path: ./axisdiscovery-${{ steps.get_version.outputs.VERSION }}-arm-linux-gnueabihf
#          asset_name: axisdiscovery-${{ steps.get_version.outputs.VERSION }}-arm-linux-gnueabihf
#          asset_content_type: application/octet-stream

